body {

  color: #1d2a98;
  padding-bottom: 100px;
}

.box {
  padding: 20px;
  display: none;
  margin-top: 20px;
  border: 1px solid #000;
}
.box img {
  float: right;
  width: 500px;
  height: 300px;
}
.red {
  background-image:"static/images/Map_Lake_Sammamish";
}
.green {
  background-image:"static/images/Map_Lake_Union";
}
.blue {
  background-image:"static/images/Map_Lake_Washington";
}
.white {
  background-image:"static/images/Map_King_County";
}
